<mat-toolbar color="primary">
  <mat-toolbar-row>
    <button mat-icon-button (click)="toggleSideBar()">
      <mat-icon>menu</mat-icon>
    </button>

    <span> <img style="margin-top: 5px" src="../../../../assets/img/home/logo1.png"></span>

    <div fxFlex fxLayout="row" fxLayoutAlign="flex-end">
      <ul fxLayout="row" fxLayoutGap="20px">
        <li>
          <button mat-button [matMenuTriggerFor]="menu">
            <img style="width: 40px; height: 40px" src="{{avatarURL}}"
                 alt="Avatar">
          </button>
          <mat-menu #menu="matMenu">
            <button mat-menu-item routerLink="/app/user">
              <mat-icon>exit_to_app</mat-icon>
              Moje dane
            </button>
            <button routerLink="/app/admin-panel" *ngIf="role === 'ROLE_ADMIN'" mat-menu-item>
              <mat-icon>exit_to_app</mat-icon>
              Panel administratora
            </button>
            <button mat-menu-item (click)="logout()">
              <mat-icon>exit_to_app</mat-icon>
              Wyloguj się
            </button>
          </mat-menu>
        </li>
      </ul>
    </div>
  </mat-toolbar-row>
</mat-toolbar>
