.add-exercise-form .mat-form-field{
  display: block;
  flex: 4;
  margin-right: 7%;
}
.add-exercise-form .mat-dialog-container{
  background: #081739 !important;
}
.add-exercise-form mat-toolbar{
  justify-content: space-between;
  background-color: #74a9ff !important;
  width: auto;
  margin: 0 15px 0 15px;
}
mat-card.add-exercise-form{
  background-color: #081739;
  display: block;
}
.add-exercise-form mat-card.edit-form{
  background-color: #74a9ff !important;
}
.add-exercise-form .mat-form-field-appearance-legacy .mat-form-field-infix{
  padding: 0 !important;
}
.add-exercise-form .mat-form-field-wrapper{
  padding: 2px !important;
}

.add-exercise-form .mat-input-element{
  background-color: #74a9ff !important;
  border-radius: 25px !important;
  padding: 10px 15px !important;
}
.add-exercise-form .mat-select{
  background-color: #74a9ff !important;
  border-radius: 25px !important;
  padding: 10px !important;
}
.add-exercise-form .edit-field{
  display: flex;
  align-items: center;
}
.add-exercise-form .edit-label{
  flex: 1;
  padding-left: 20px;
}
.add-exercise-form .mat-form-field-underline {
  display: none;
}
.mat-select-panel{
  background-color: #081739 !important;
}
.add-exercise-form .cdk-global-overlay-wrapper .cdk-overlay-pane{
  width: 80%;
}
.serie{
  background-color: #eea520;
  border-radius: 20px;
  margin: 10px;
}
.series-button{
  flex: 1;
}
.series-input{
  display: flex;
}
.series-input-wrapper{
  flex: 5;
}
.series-title{
  flex: 1;
  margin-left: 20px;
}
.add-exercise-form .mat-form-field-infix{
  width: auto !important;
}
.add-exercise-form .mat-form-field-label-wrapper{
  left: 10px !important;
  top: -10px !important;
  color: white;
  font-size: 14px;
}
.mat-form-field-label:focus{
  color: white;
}
.mat-form-field-label{
  color: white !important;
}
.remove-exercise button{
  background-color: #74a9ff;
  margin-right: 10px;
}
.mat-focus-indicator .mat-tooltip-trigger .choose-exercise-button .mat-raised-button .mat-button-base .mat-red{
  background-color: #eea520;
}
.name-header-exercise .mat-form-field-flex{
  margin-bottom: 10px;
}
.closing-header-add-exercise {
  background-color: #74a9ff;
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
  align-items: center;
}

.closing-header-add-exercise mat-icon {
  color: wheat;
  text-shadow: white;
}

.closing-header-add-exercise mat-icon:hover {
  cursor: pointer;
}
.sumbit-add-button{
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.exercise-form-image-wrapper{
  display: flex;
  align-items: center;
}
.exercise-form{
  flex: 5;
}
.measurement-field-wrapper img{
  border-radius: 50%;
  max-width: 300px;
}


