<mat-toolbar class="diet-list-mat-toolbar">Baza przepisów
  <button mat-fab class="sticky-button" type="button" (click)="addMeal()">
    <mat-icon class="special">add</mat-icon>
  </button>
</mat-toolbar>
<div class="filter-header">

  <form [formGroup]="form" style="display: flex; width: 100%">
    <div class="edit-field">
      <div class="edit-label">
        Opis
      </div>
      <mat-form-field>
        <input class="exercise-input" matInput type="text" formControlName="search"/>
      </mat-form-field>
    </div>
    <div class="edit-field">
      <div class="edit-label">
        Pora dnia
      </div>
      <mat-form-field>
        <mat-select formControlName="mealType">
          <mat-option value="BREAKFAST">ŚNIADANIE</mat-option>
          <mat-option value="SOUP">ZUPY</mat-option>
          <mat-option value="MAIN_COURSE">OBIAD</mat-option>
          <mat-option value="DINNER">KOLACJA</mat-option>
          <mat-option value="SNACKS">PRZYSTAWKI</mat-option>
          <mat-option value="">BRAK</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="edit-field">
      <div class="edit-label">
        Poziom trudności
      </div>
      <mat-form-field>
        <mat-select formControlName="mealDifficulty">
          <mat-option value="EASY">ŁATWE</mat-option>
          <mat-option value="MEDIUM">ŚREDNIE</mat-option>
          <mat-option value="HARD">TRUDNE</mat-option>
          <mat-option value="">BRAK</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </form>
</div>
<div class="content">
  <div fxLayout="row wrap" fxLayoutGap="16px grid">
    <div fxFlex="25%" fxFlex.xs="100%" fxFlex.sm="33%" *ngFor="let meal of meals; let i = index">
      <mat-card (click)="openDialog(meal)" class="mat-elevation-z4" *ngIf="i + 1 === meals.length" #theLastList>
        <div style="align-items: flex-end; ">
          <mat-icon style="float: right !important;">star</mat-icon>
        </div>
        <img mat-card-image src='{{meal.urlImage}}'>
        <mat-card-content>
          <div class="styling-button-card-content">
            <h3> {{meal.name}}</h3>
            <div class="similar-button"
                 [ngClass]="{
                          'green' : i==1,
                          'orange' : i==2,
                          'red' : i==3
                       }">
              <h5> OBIAD </h5>
            </div>
          </div>
        </mat-card-content>
      </mat-card>
      <mat-card  (click)="openDialog(meal)" class="mat-elevation-z4" *ngIf="i + 1 != meals.length">
        <div style="align-items: flex-end">
          <mat-icon>star</mat-icon>
        </div>
        <img mat-card-image src='{{meal.urlImage}}'>
        <mat-card-content>
          <div>
            <h3> {{meal.name}}</h3>
            <div class="similar-button">
            </div>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>

<div class="row pb-5">
  <div class="col-md-12 p-5">
    <ngx-spinner
      bdOpacity=0.9
      bdColor=""
      size="default"
      color="#581f87"
      type="ball-pulse-sync"
    >
    </ngx-spinner>
  </div>
</div>
<!--
<ul class="list-group">
  <li class="list-item" *ngFor="let a of airlines; let i = index">
    <a class="user-link" *ngIf="i + 1 === airlines.length" #theLastList>
      <img [src]="a.airline.logo" />
      <span>
        <p>
          <span class="list-item-heading">Airline</span>: {{ a.airline.name }}
        </p>
        <p><span class="list-item-heading">Name</span>: {{ a.name }}</p>
      </span>
    </a>
    <a class="user-link" *ngIf="i + 1 != airlines.length">
      <img [src]="a.airline.logo" />
      <span>
        <p>
          <span class="list-item-heading">Airline</span>: {{ a.airline.name }}
        </p>
        <p><span class="list-item-heading">Name</span>: {{ a.name }}</p>
      </span>
    </a>
  </li>
</ul>-->
