<mat-dialog-content>
  <div class="search-header">

    <form [formGroup]="form" style="display: flex; width: 100%">
      <div class="edit-field">
        <div class="edit-label">
          Opis
        </div>
        <mat-form-field>
          <input class="exercise-input" matInput type="text" formControlName="search"/>
        </mat-form-field>
      </div>
      <div class="edit-field">
        <div class="edit-label">
          Pora dnia
        </div>
        <mat-form-field>
          <mat-select formControlName="mealType">
            <mat-option value="BREAKFAST">ŚNIADANIE</mat-option>
            <mat-option value="SOUP">ZUPY</mat-option>
            <mat-option value="MAIN_COURSE">OBIAD</mat-option>
            <mat-option value="DINNER">KOLACJA</mat-option>
            <mat-option value="SNACKS">PRZYSTAWKI</mat-option>
            <mat-option value="">BRAK</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="edit-field">
        <div class="edit-label">
          Poziom trudności
        </div>
        <mat-form-field>
          <mat-select formControlName="mealDifficulty">
            <mat-option value="EASY">ŁATWE</mat-option>
            <mat-option value="MEDIUM">ŚREDNIE</mat-option>
            <mat-option value="HARD">TRUDNE</mat-option>
            <mat-option value="">BRAK</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </form>
  </div>

  <div class="search-result">
    <div class="search-element-list">
      <div class="mat-elevation-z8" style="margin-bottom: 20px">
        <table mat-table [dataSource]="dataSource">

          <!-- Position Column -->
          <ng-container matColumnDef="Numer">
            <th mat-header-cell *matHeaderCellDef> Numer</th>
            <td mat-cell *matCellDef="let element"> {{element.position}} </td>
          </ng-container>

          <!-- Name Column -->
          <ng-container matColumnDef="Nazwa posiłku">
            <th mat-header-cell *matHeaderCellDef> Nazwa posiłku</th>
            <td mat-cell *matCellDef="let element"> {{element.name}} </td>
          </ng-container>

          <!-- Weight Column -->
          <ng-container matColumnDef="Poziom trudności">
            <th mat-header-cell *matHeaderCellDef> Poziom trudności</th>
            <td mat-cell *matCellDef="let element"> {{element.mealDifficulty}} </td>
          </ng-container>

          <ng-container matColumnDef="Typ posiłku">
            <th mat-header-cell *matHeaderCellDef> Typ posiłku</th>
            <td mat-cell *matCellDef="let element"> {{element.type}} </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row (click)="getRecord(row)" *matRowDef="let row; columns: displayedColumns;"
              [ngClass]="{'highlight': selectedRowIndex == row.id}"
          ></tr>
        </table>

        <mat-paginator [pageSizeOptions]="[10, 15, 25]"
                       showFirstLastButtons
                       aria-label="Select page of periodic elements">
        </mat-paginator>
      </div>

    </div>
    <div class="search-element-details">
      <div class="exercise-title-filter">
        {{mealName}}
      </div>
      <div class="video-display">
        <div class="video-main" controls="" width="500px" name="media">
          <img src="{{mealImage}}">
        </div>
      </div>
      <div class="buttons">
        <mat-dialog-actions>
          <button class="back_exercise" mat-button mat-dialog-close="false">Cofnij</button>
          <button class="accept-exercise" mat-button mat-dialog-close="{{mealID}}">Wybierz</button>
        </mat-dialog-actions>
      </div>
    </div>
  </div>

</mat-dialog-content>
