<mat-toolbar>Statystyki</mat-toolbar>

<div class="exercise-header">
  <div class="date-subheader">
    <mat-icon (click)="subtractMonth()">chevron_left</mat-icon>
    {{currentDate}}
    <mat-icon (click)="addMonth()">chevron_right</mat-icon>
  </div>
  <div style="display:flex; align-items: center">
    <div class="record-row">
      <mat-icon>fitness_center</mat-icon>
      Ilość wykonanych treningów w bieżącym miesiącu: {{headerDate.numberOfTrainingsDone}}
    </div>
    <div class="record-row">
      <mat-icon>fitness_center</mat-icon>
      Ilość treningów do wykonania w bieżącym miesiącu: {{headerDate.numberOfTrainingsToDo}}
    </div>
  </div>
</div>


<div style="display:flex; flex-wrap: wrap">
  <div class="divided-chart">
    <div class="chart-label">
      <mat-icon (click)="subtractMonthToPieChart()">chevron_left</mat-icon>
      {{currentDatePieChart}}
      <mat-icon (click)="addMonthToPieChart()">chevron_right</mat-icon>
    </div>
    <div>
      <highcharts-chart
        [Highcharts]="pieChart"
        [options]="pieChartOptions"
        [(update)]="updatedPieChart"
        style="width: 100%; height: 400px; display: block;">
      </highcharts-chart>
    </div>
  </div>
  <div class="divided-chart">
    <div class="chart-label">
      <mat-icon (click)="subtractYear()">chevron_left</mat-icon>
      {{columnChartYearChosen}}
      <mat-icon (click)="addYear()">chevron_right</mat-icon>
    </div>
    <highcharts-chart
      [Highcharts]="barChart"
      [options]="barChartOptions"
      [(update)]="updateFromInput"
      style="width: 100%; height: 400px; display: block;">
    </highcharts-chart>
  </div>

</div>

<div class="divided-chart" style="margin-bottom: 40px">
  <div class="chart-label">
    <button (click)="openFilterExerciseDialog()" mat-button type="button">Wybierz ćwiczenie</button>
  </div>
  <highcharts-chart
    [Highcharts]="highcharts"
    [options]="chartOptions"
    [(update)]="updateFromLineChart"
    style="width: 100%; height: 400px; display: block;">
  </highcharts-chart>
</div>

