<mat-dialog-content>
  <div class="search-header">

    <form [formGroup]="form" style="display: flex; width: 100%">
      <div class="edit-field">
        <div class="edit-label">
          Nazwa
        </div>
        <mat-form-field>
          <input class="exercise-input" matInput type="text" formControlName="search"/>
        </mat-form-field>
      </div>
    </form>
  </div>

  <div class="search-result">
    <div class="search-element-list">
      <div class="mat-elevation-z8" style="margin-bottom: 20px">
        <table mat-table [dataSource]="dataSource">

          <!-- Position Column -->
          <ng-container matColumnDef="Numer">
            <th mat-header-cell *matHeaderCellDef> Numer</th>
            <td mat-cell *matCellDef="let element"> {{element.position}} </td>
          </ng-container>

          <!-- Name Column -->
          <ng-container matColumnDef="Nazwa składniku">
            <th mat-header-cell *matHeaderCellDef> Nazwa składniku</th>
            <td mat-cell *matCellDef="let element"> {{element.ingredientName}} </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row (click)="getRecord(row)" *matRowDef="let row; columns: displayedColumns;"
              [ngClass]="{'highlight': selectedRowIndex == row.ingredientID}"
          ></tr>
        </table>

        <mat-paginator [pageSizeOptions]="[10, 15, 25]"
                       showFirstLastButtons
                       aria-label="Select page of periodic elements">
        </mat-paginator>
      </div>

    </div>
  </div>
  <div class="buttons">
    <mat-dialog-actions>
      <button class="back_exercise" mat-button mat-dialog-close="false">Cofnij</button>
      <button class="accept-exercise" mat-button mat-dialog-close="{{ingredientID}}">Wybierz</button>
    </mat-dialog-actions>
  </div>

</mat-dialog-content>
